<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"><h1>Iglesia <span class="badge badge-secondary">Filadelfia</span></h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navegacion" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" routerLink="/tesoreria">Tesoreria</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="#">Miembros</a>
      </li>
      <li class="nav-item">
          <a class="nav-link">Grupos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Usuarios</a>
    </li>
      </ul>
  </div>


</nav>


<div class="cabecera" style="background-image: url('assets/imagen3.jpg')">

  <div class="titulos-cabecera">

          <h1>bienvenido a</h1>
          <br>
          <h2>administracion central</h2>
          <hr>

  </div>
</div>
